{% extends "base.html" %} {% block title%} Destinations {%endblock%}

{% block head %}

<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
        <a class="navbar-brand" href="/home" style="color: rgb(167, 3, 3); font-family: Koulen;" > <i class="fa-regular fa-calendar-days"> </i> ETURO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="display: span; margin-left: 75%;">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/home" style="color: rgb(167, 3, 3); font-family: Koulen;"></i> Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/travel" style="color: rgb(167, 3, 3); font-family: Koulen;"> Plan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/travel" style="color: white; font-family: Koulen; border: 1px solid; background-color: rgb(167, 3, 3); width: 70px; text-align: center; border-radius: 8px;"> Itinerary</a>
            </li>
            
            <a href="/logout"><button type="button" class="btn btn-lg btn-outline-secondary" style=" color:  rgb(167, 3, 3); width: 110px; margin-left: 10px; font-family: DM Mono;padding: px 13px; line-height: 1.5;font-size: 13px;margin-top: 2px; font-weight:bold;">LOG OUT</button></a>
            
            
            </ul>
        </div>
        </div>
    </nav>
</div>
{%endblock%}

{% block content %}

<!--STYLE-->
<style>
#head{
    background-color: rgb(255,61,0);
    color: white;
    font-family: Inter;
}
td{
    font-family: Inter;
}
.form-control::placeholder{
    color: rgba(255, 255, 255, 0.863);
    text-align: center;
}
input{
    color: white;
}
</style>


<!--ETURO-->
<div style="margin-top: 100px; margin-bottom: 50px;">
  <h1 style="text-align: center; font-size: 100px; font-family: Koulen; 
  background: linear-gradient(to right, #dc3500 45%, #ff9245 55%); -webkit-background-clip: text;
   color: transparent; background-clip: text;">DESTINATIONS</h1>
</div>



    <!--BUTTON-->
    <div style="margin-bottom: 30px;">
    <div class="pt-3 mb-4" style="margin-left: 37.5%;">
        <button
          data-mdb-button-init
          data-mdb-ripple-init
          class="btn btn-xl"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasRight"
          aria-controls="offcanvasRight"
          
          type="button"
          style="
            background-color: rgb(255,61,0);
            color: white;
            height: 50px;
            font-family: Inter;
            font-weight: 500;
            font-size: 16px;
            width: 40%;
          "
        >
        <i class="fa-solid fa-circle-plus" style="color: #f0f3f4;"></i>   <span style="margin-left: 10px;">CREATE NEW DESTINATION</span>
        </button>
      </div>
    </div>



<!--OFF CANVAS-->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel" style="background-color:rgb(255,61,0)">
    <div class="offcanvas-header">
      <h5 id="offcanvasRightLabel"><i class="fa-solid fa-circle-plus" style="color: #f0f3f4;"></i>   <span style="margin-left: 10px; color: white;">CREATING NEW DESTINATION</span></h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>


     <div class="offcanvas-body">
        <form method="post" action="{{ url_for('views.destinations', itineraryID=itineraryID) }}">
            
            <div class="row-2 mb-1" style="text-align: center;">
                <div class="col-md-10 mb">
                    <div data-mdb-input-init class="form-outline" style="text-align: center; margin-top: 30px;">
                      <label class="form-label" for="zipcode" style="margin-left: 60px; color: white;">ZIPCODE</label>
                      <input
                        type="text"
                        id="zipcode"
                        class="form-control"
                        name="zipcode"
                        placeholder="'8400'"
                        style="margin-left: 30px; background-color: rgb(255,61,0); margin-bottom: 30px; font-family: Inter;"
                      />
                    </div>
               </div>
          </div>

          <div class="row-2 mb-1" style="text-align: center;">
            <div class="col-md-10 mb">
                <div data-mdb-input-init class="form-outline" style="text-align: center; margin-top: 30px;">
                  <label class="form-label" for="destinationName" style="margin-left: 60px; color: white;">DESTINATION NAME</label>
                  <input
                    type="text"
                    id="destinationName"
                    class="form-control"
                    name="destinationName"
                    placeholder="'Mabua Pebble beach'"
                    style="margin-left: 30px; background-color: rgb(255,61,0); margin-bottom: 30px; font-family: Inter;"
                  />
                </div>
           </div>
      </div>

      <div class="row-2 mb-1" style="text-align: center;">
        <div class="col-md-10 mb">
            <div data-mdb-input-init class="form-outline" style="text-align: center; margin-top: 30px;">
              <label class="form-label" for="cityName" style="margin-left: 60px; color: white;">CITY/MUNICIPALITY</label>
              <input
                type="text"
                id="cityName"
                class="form-control"
                name="cityName"
                placeholder="'surigao city'"
                style="margin-left: 30px; background-color: rgb(255,61,0); margin-bottom: 30px; font-family: Inter;"
              />
            </div>
       </div>
  </div>

  <div class="row-2 mb-1" style="text-align: center;">
    <div class="col-md-10 mb">
        <div data-mdb-input-init class="form-outline" style="text-align: center; margin-top: 30px;">
          <label class="form-label" for="itineraryName" style="margin-left: 60px; color: white;">REGION NAME</label>
          <input
            type="text"
            id="regionName"
            class="form-control"
            name="regionName"
            placeholder="'surigao del norte'"
            style="margin-left: 30px; background-color: rgb(255,61,0); margin-bottom: 30px; font-family: Inter;"
          />
        </div>
    </form>
   </div>
</div>
          
      


<!--SAVE BUTTON-->
<div style="margin-bottom: 30px;">
    <div class="pt-3 mb-4" style="margin-left: 9%;">
        <button
          data-mdb-button-init
          data-mdb-ripple-init
          class="btn btn-xl"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasRight"
          aria-controls="offcanvasRight"
          
          type="submit"
          style="
            background-color: rgb(255, 255, 255);
            color: rgb(235, 60, 7);
            height: 50px;
            font-family: Inter;
            font-weight: 500;
            font-size: 16px;
            width: 90%;
          "
        >
        <span style="margin-left: 10px;">SAVE DESTINATION</span>
        </button>
      </div>
    </div>


</div>

</div>







<!--TABLE-->
<div style="margin-bottom: 250px;">
<table class="table">
<thead>
  <tr>
    <th scope="col" style="background: linear-gradient(to right, #dd3500, #e73700); color: white;">ZIPCODE</th>
    <th scope="col" style="background: linear-gradient(to right, #e73700, #ff4204); color: white;">DESTINATION NAME</th>
    <th scope="col" style="background: linear-gradient(to right, #ff4204, #fb733d); color: white;">CITY/COMMUNITY</th>
    <th scope="col" style="background: linear-gradient(to right, #fb733d, #ee7646); color: white;">REGION NAME</th>
    <th scope="col" style="background: linear-gradient(to right, #ee7646, #f0855b); color: white;">ACTIVITIES</th>
    <th scope="col" style="background: linear-gradient(to right, #f0855b, #ff986f); color: white;"></th>
  </tr>
</thead>
<tbody>
  {% if destinations %}
  {% for data in destinations %}
        <tr>
            <th scope="row">{{ data['zipcode'] }}</th>
            <td>{{ data['destinationName'] }}</td>
            <td>{{ data['cityName'] }}</td>
            <td>{{ data['regionName'] }}</td>
            <td><a href="{{ url_for('views.activities', destinationID=data.destinationID) }}">ACTIVITIES</a></td>
            <td>
              <button type="button" class="btn btn-warning btn-xs" data-bs-toggle="modal" data-bs-target="#modaledit{{ data['destinationID'] }}">Edit</button>
              <a href="/destinationsDelete/{{ data.destinationID }}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure For Delete?')">Delete</a>
            </td>
          </tr>

          <!-- Modal for editing destination -->
          <div class="modal fade" id="modaledit{{ data['destinationID'] }}" tabindex="-1" aria-labelledby="modalLabel{{ data['destinationID'] }}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel{{ data['destinationID'] }}">Update Information</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('views.destinationsUpdate') }}" method="POST">
                            <!-- Hidden inputs to pass IDs -->
                            <input type="hidden" name="destinationID" value="{{ data['destinationID'] }}">
                            <input type="hidden" name="itineraryID" value="{{ data['itineraryID'] }}">
                            <!-- Form fields for updating destination information -->
                            <div class="mb-3">
                                <label for="zipcode{{ data['destinationID'] }}" class="form-label">Zipcode:</label>
                                <input type="text" class="form-control" id="zipcode{{ data['destinationID'] }}" name="zipcode" value="{{ data['zipcode'] }}">
                            </div>
                            <div class="mb-3">
                                <label for="destinationName{{ data['destinationID'] }}" class="form-label">Name:</label>
                                <input type="text" class="form-control" id="destinationName{{ data['destinationID'] }}" name="destinationName" value="{{ data['destinationName'] }}">
                            </div>
                            <div class="mb-3">
                                <label for="cityName{{ data['destinationID'] }}" class="form-label">City/Municipality:</label>
                                <input type="text" class="form-control" id="cityName{{ data['destinationID'] }}" name="cityName" value="{{ data['cityName'] }}">
                            </div>
                            <div class="mb-3">
                              <label for="regionName{{ data['destinationID'] }}" class="form-label">Region:</label>
                              <input type="text" class="form-control" id="regionName{{ data['destinationID'] }}" name="regionName" value="{{ data['regionName'] }}">
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Update</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
  {% endfor %}
{% else %}
  <tr><td colspan="6">No destinations records found.</td></tr>
{% endif %}
</tbody>
</table>

</div>
<br>



{%endblock%}
