{%extends "base.html" %} {%  block title  %} Home {%endblock%}

{% block head %}

<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 80px;">
        <div class="container-fluid">
        <a class="navbar-brand" href="/home" style="color: rgb(167, 3, 3); font-family: Koulen;" > <i class="fa-regular fa-calendar-days"> </i> ETURO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="display: span; margin-left: 80%;">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/home" style="color: white; font-family: Koulen; border: 1px solid; background-color: rgb(167, 3, 3); width: 70px; text-align: center; border-radius: 8px;"></i> Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/travel" style="color: rgb(167, 3, 3); font-family: Koulen;"> Plan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/travel" style="color: rgb(167, 3, 3); font-family: Koulen;"> Itinerary</a>
            </li>
            
            <a href="/logout"><button type="button" class="btn btn-lg btn-outline-secondary" style=" color:  rgb(167, 3, 3); width: 110px; margin-left: 10px; font-family: DM Mono;padding: px 13px; line-height: 1.5;font-size: 13px;margin-top: 2px; font-weight:bold;">LOG OUT</button></a>
            
            
            </ul>
        </div>
        </div>
    </nav>
</div>
{%endblock%}

{% block content %} 

<style>

.card-img-top {
    max-height: 200px;
    min-height: 150px;
    object-fit: cover;

}


</style>
<div style="margin-top: 100px; margin-bottom: 50px;">
    <h1 style="text-align: center; color: rgb(167, 3, 3); font-size: 100px; font-family: Koulen;">ETURO</h1>
    <h4 style="text-align: center; font-family: Inter; color: rgb(179, 176, 176);"> Let's get started! Let us create your first travel plan. </h4>
    

</div>

<div class="row row-cols-1 row-cols-md-3 g-5" style="margin-bottom: 250px;">
    <div class="col">
      <div class="card">
        <img src="/static/CEBU.jpg" class="card-img-top" alt="cebu beach"/>
        <div class="card-body">
          <h5 class="card-title" style="color: rgb(17,96,170); font-family: Koulen;"><span style="font-size: 30px;">OSLOB, CEBU</span>        <span style="margin-left: 80px;"><i class="fa-solid fa-star fa-lg" style="color: rgb(255, 168, 0);"></i><i class="fa-solid fa-star fa-lg" style="color: rgb(255, 168, 0)"></i><i class="fa-solid fa-star fa-lg" style="color: rgb(255, 168, 0);"></i><i class="fa-solid fa-star fa-lg" style="color: rgb(255, 168, 0);"></i><i class="fa-solid fa-star fa-lg" style="color: rgb(255, 168, 0);"></i></span> </h5>
          <p class="card-text" style="font-family: Koulen; color: rgb(82, 82, 82);">
            CENTRAL VISAYAS
          </p>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="/static/boracaybeach3.jpg" class="card-img-top" alt="boracay beach"/>
            <div class="card-body">
              <h5 class="card-title" style="color: rgb(17,96,170); font-family: Koulen;"><span style="font-size: 30px;">BORACAY, AKLAN</span>        <span style="margin-left: 50px;"><i class="fa-solid fa-star fa-lg" style="color: rgb(255, 168, 0);"></i><i class="fa-solid fa-star fa-lg" style="color: rgb(255, 168, 0)"></i><i class="fa-solid fa-star fa-lg" style="color: rgb(255, 168, 0);"></i><i class="fa-solid fa-star fa-lg" style="color: rgb(255, 168, 0);"></i><i class="fa-solid fa-star fa-lg" style="color: rgb(255, 168, 0);"></i></span> </h5>
              <p class="card-text" style="font-family: Koulen; color: rgb(82, 82, 82);">
                WESTERN VISAYAS
              </p>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="/static/siargao.jpg" class="card-img-top" alt="boracay beach"/>
            <div class="card-body">
              <h5 class="card-title" style="color: rgb(17,96,170); font-family: Koulen;"><span style="font-size: 30px;">SIARGAO ISLAND</span>        <span style="margin-left: 50px;"><i class="fa-solid fa-star fa-lg" style="color: rgb(255, 168, 0);"></i><i class="fa-solid fa-star fa-lg" style="color: rgb(255, 168, 0)"></i><i class="fa-solid fa-star fa-lg" style="color: rgb(255, 168, 0);"></i><i class="fa-solid fa-star fa-lg" style="color: rgb(255, 168, 0);"></i><i class="fa-solid fa-star fa-lg" style="color: rgb(255, 168, 0);"></i></span> </h5>
              <p class="card-text" style="font-family: Koulen; color: rgb(82, 82, 82);">
                CARAGA REGION
              </p>
            </div>
          </div>
  </div>
  <div class="pt-3 mb-4" style="margin-left: 36.5%;">
    <a
      data-mdb-button-init
      data-mdb-ripple-init
      class="btn btn-xl btn-success"
      href="/travel"
      role="button"
      style="
        
        color: white;
        background-color: #5b752f;
        height: 70px;
        font-family: Inter;
        font-weight: 500;
        font-size: 16px;
        width: 80%;
        padding-top: 6%;
      "
    >
      CREATE TRAVEL PLAN
  </a>
  </div>




{% endblock %}


{%block footer%}
    <div style="background-color: brown; width: 100%; bottom: 0; left: 0; text-align: center;">
        <footer class="py-5">
            <h5 style="text-align: center; margin-top: -10px; color: white; font-family: Koulen;">ETURO</h5>
            <li style="list-style-type: none; text-align: center;">
                <a style="font-size: smaller; color: white; padding-right: 5px; text-decoration: none; font-family: Koulen;" href="/home">HOME</a>
                <a style="font-size: smaller; color: white; padding: 0px; text-decoration: none; font-family: Koulen;" href="#">PLAN</a>
                <a style="font-size: smaller; color: white; padding-left: 5px; text-decoration: none; font-family: Koulen;" href="#">ITINERARY</a>
            </li>
            <li style="list-style-type: none; text-align: center; margin-top: 10px;">
                <a style="color: white; padding-right: 5px;" href="https://www.facebook.com/" target="_blank"> <i class="fa-brands fa-facebook"></i></a>
                <a style="color: white;" href="https://www.instagram.com/?hl=en" target="_blank"> <i class="fa-brands fa-instagram"></i></a>
            </li>
        
        </footer>
    </div>
{%endblock%}