{% extends "base.html" %} {%  block title  %} ETURO {%endblock%}


{% block content %}



<div style="margin-top: 20px; margin-bottom: 50px;">
    <h1 style="text-align: center; color: rgb(167, 3, 3); font-size: 100px; font-family: Koulen;">ETURO</h1>
    <h3 style="text-align: center; font-family: Inter;"> A travel website that will help you plan your itinerary </h3>
    <a class="btn" href="/signup" role="button" style="background-color: rgba(91,117,47,255); margin-left: 47%; margin-top: 10px; color: white; font-family: DM Mono;">SIGN UP</a>

</div>


<div>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
        <div class="carousel-item active" style="height: 400px;">
            <a href="/signup" ><img src="static/boracaybeach.jpg" class="d-block w-100 c-img" alt="..." style="object-fit: cover;  width: 50px; height: 400px;"></a>
            <div class="carousel-caption d-none d-md-block">
                <a href="/signup" style="text-decoration: none; color: white;"><h5>Dive into the Ultimate Escape! </h5></a>
                <a href="/signup" style="text-decoration: none; color: white;"><p>Let the gentle lull of waves melt away your stress. Feel the soft sand between your toes as you lounge under the warm sun. The beach is nature's tranquilizer!</p></a>
            </div>
        </div>
        <div class="carousel-item active" style="height: 400px;">
            <img src="/static/mountainflowers.jpg" class="d-block w-100 c-img" alt="..." style="object-fit: cover;  width: 50px; height: 400px;">
            <div class="carousel-caption d-none d-md-block">
                <a href="/signup" style="text-decoration: none; color: white;"><h5> Reach New Heights with Mountain Escapes!</h5></a>
                    <a href="/signup" style="text-decoration: none; color: white;"><p> Experience nature's grandeur in its purest form.</p></a>
            </div>
        </div>
        <div class="carousel-item active" style="height: 400px;">
            <img src="/static/sean-yoro-7PFVpaUb8UY-unsplash.jpg" class="d-block w-100 c-img" alt="..." style="object-fit: cover;  width: 50px; height: 400px;">
            <div class="carousel-caption d-none d-md-block">
                <a href="/signup" style="text-decoration: none; color: white;"><h5>Dive into Urban Excitement!</h5></a>
                <a href="/signup" style="text-decoration: none; color: white;"><p>Immerse yourself in a melting pot of cultures, traditions, and cuisines.</p></a>
            </div>
        </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<br>
<br>


{% endblock %}