{% extends "base.html" %}
{% block title %} TRAVEL {% endblock %}

{% block head %}
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home" style="color: rgb(167, 3, 3); font-family: Koulen;">
                <i class="fa-regular fa-calendar-days"> </i> ETURO
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="display: span; margin-left: 75%;">
                  <form method="post" action="/travelSearch" style="display: flex; align-items: center; margin-left: -150px;">
                    <li class="nav-item" style="list-style: none;">
                        <input type="text" class="form-control" name="travelName" placeholder="Search Travel" />
                    </li>
                    <li style="list-style: none;">
                        <button type="submit" class="btn btn-sm btn-default" name="search">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </li>
                    <li style="list-style: none;">
                        <a href="/travel" class="btn btn-sm btn-default"><i class="fa-solid fa-x"></i></a>
                    </li>
                </form>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/home" style="color: white; font-family: Koulen; border: 1px solid; background-color: rgb(167, 3, 3); width: 70px; text-align: center; border-radius: 8px; margin-left: 30px;">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/travel" style="color: rgb(167, 3, 3); font-family: Koulen;"> Plan</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/travel" style="color: rgb(167, 3, 3); font-family: Koulen;"> Itinerary</a>
                    </li>
                    <a href="/logout">
                        <button type="button" class="btn btn-lg btn-outline-secondary" style=" color: rgb(167, 3, 3); width: 110px; margin-left: 10px; font-family: DM Mono;padding: px 13px; line-height: 1.5;font-size: 13px;margin-top: 2px; font-weight:bold;">LOG OUT</button>
                    </a>
                </ul>
            </div>
        </div>
    </nav>
</div>
{% endblock %}

{% block content %}

<!--STYLE-->
<style>
#head{
    background-color: rgb(24,122,153);
    color: white;
    font-family: Inter;
    position: sticky;
}
.form-control::placeholder{
    color: rgba(255, 255, 255, 0.863);
    text-align: center;
}
input{
    color: white;
}
</style>


<!--ETURO-->
<div style="margin-top: 100px; margin-bottom: 50px;">
  <h1 style="text-align: center; font-size: 100px; font-family: Koulen; 
  background: linear-gradient(to right, #093757 35%, #60bbe6 65%); -webkit-background-clip: text;
   color: transparent; background-clip: text;">ETURO TRAVEL</h1>
</div>





    <!--BUTTON-->
    <div style="margin-bottom: 30px;">
    <div class="pt-3 mb-4" style="margin-left: 37.5%;">
        <button
          data-mdb-button-init
          data-mdb-ripple-init
          class="btn btn-xl"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasRight"
          aria-controls="offcanvasRight"
          
          type="button"
          style="
            background-color: rgb(14, 111, 141);
            color: white;
            height: 50px;
            font-family: Inter;
            font-weight: 500;
            font-size: 16px;
            width: 40%;
          "
        >
        <i class="fa-solid fa-circle-plus" style="color: #f0f3f4;"></i>   <span style="margin-left: 10px;">CREATE NEW TRAVEL</span>
        </button>
      </div>
    </div>



<!--OFF CANVAS-->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel" style="background-color: rgb(14, 111, 141);">
    <div class="offcanvas-header">
      <h5 id="offcanvasRightLabel"><i class="fa-solid fa-circle-plus" style="color: #f0f3f4;"></i>   <span style="margin-left: 10px; color: white;">CREATING NEW TRAVEL</span></h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>


     <div class="offcanvas-body">
        <form method="post" action="/travel">
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row-2 mb-1" style="text-align: center;">
                <div class="col-md-10 mb">
                    <div data-mdb-input-init class="form-outline" style="text-align: center; margin-top: 30px;">
                      <label class="form-label" for="travelName" style="margin-left: 60px; color: white;">TRAVEL NAME</label>
                      <input
                        type="text"
                        id="travelName"
                        class="form-control"
                        name="travelName"
                        placeholder="'1-Day Manila Trip'"
                        style="margin-left: 30px; background-color: rgb(14, 111, 141); margin-bottom: 30px; font-family: Inter;"
                      />
                    </div>
               </div>
          </div>
          <div class="row-2 mb-1" style="text-align: center;">
            <div class="col-md-10 mb">
                <div data-mdb-input-init class="form-outline" style="text-align: center; margin-top: 30px;">
                  <label class="form-label" for="startDate" style="margin-left: 60px; color: white;">START DATE</label>
                  <input
                    type="text"
                    id="datepicker"
                    class="form-control"
                    name="startDate"
                    placeholder="'2024-09-08'"
                    style="margin-left: 30px; background-color: rgb(14, 111, 141);"
                  />
                </div>
           </div>
      </div>
      <div class="row-2 mb-1" style="text-align: center;">
        <div class="col-md-10 mb">
            <div data-mdb-input-init class="form-outline" style="text-align: center; margin-top: 30px;">
              <label class="form-label" for="endDate" style="margin-left: 60px; color: white;">END DATE</label>
              <input
                type="text"
                id="datepicker"
                class="form-control"
                name="endDate"
                placeholder="'2024-09-12'"
                style="margin-left: 30px; background-color: rgb(14, 111, 141);"
              />
            </div>
       </div>
  </div>

  <div class="row-2 mb-1" style="text-align: center;">
    <div class="col-md-10 mb">
        <div data-mdb-input-init class="form-outline" style="text-align: center; margin-top: 30px;">
          <label class="form-label" for="travelDescription" style="margin-left: 60px; color: white;">DESCRIPTION</label>
          <textarea
            type="text"
            id="travelDescription"
            class="form-control"
            name="travelDescription"
            rows="8"
            style="margin-left: 30px; background-color: rgb(14, 111, 141);"
          >
          </textarea>
        </div>
   </div>
</div>


<!--SAVE BUTTON-->
<div style="margin-bottom: 30px;">
    <div class="pt-3 mb-4" style="margin-left: 9%;">
        <button
          data-mdb-button-init
          data-mdb-ripple-init
          class="btn btn-xl"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasRight"
          aria-controls="offcanvasRight"
          
          type="submit"
          style="
            background-color: rgb(255, 255, 255);
            color: rgb(79, 155, 179);
            height: 50px;
            font-family: Inter;
            font-weight: 500;
            font-size: 16px;
            width: 90%;
          "
        >
        <span style="margin-left: 10px;">SAVE TRAVEL</span>
        </button>
      </div>
    </div>

   </form>
  </div>

</div>




   <!--TABLE-->
   <div style="margin-bottom: 250px; overflow-x: auto;">
    <table class="table">
      <thead>
        <tr id="head">
          <th scope="col" style="background: linear-gradient(to right, #041f28, #073a4a); color: white;">TRAVEL NAME</th>
          <th scope="col" style="background: linear-gradient(to right, #073a4a, #0d637e); color: white;">START DATE</th>
          <th scope="col" style="background: linear-gradient(to right, #0d637e, #1d809f); color: white;">END DATE</th>
          <th scope="col" style="background: linear-gradient(to right, #1d809f, #2f94b4); color: white;">DAYS</th>
          <th scope="col" style="background: linear-gradient(to right, #2f94b4, #40a7c7); color: white;">DESCRIPTION</th>
          <th scope="col" style="background: linear-gradient(to right, #40a7c7, #57c0e2); color: white;">ITINERARIES</th>
          <th scope="col" style="background: linear-gradient(to right, #57c0e2, #6dd9fb); color: white;"></th>
      </tr>

      </thead>
      <tbody>
        {% if travel %}
          {% for data in travel %}
          <tr>
            <td>{{ data['travelName'] }}</td>
            <td>{{ data['startDate'] }}</td>
            <td>{{ data['endDate'] }}</td>
            <td>{{ data['days'] }}</td>
            <td>{{ data['travelDescription'] }}</td>
            <td><a href="{{ url_for('views.itinerary', travelID=data.travelID) }}">ITINERARIES</a></td>
            <td>
              <button class="btn btn-warning btn-xs" data-bs-toggle="modal" data-bs-target="#modaledit{{ data['travelID'] }}"><i class="fa-solid fa-gear"></i></button>
              <a href="/travelDelete/{{ data.travelID }}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure For Delete?')"><i class="fa-solid fa-trash"></i></a>
            </td>
          </tr>
  
          <!-- Modal -->
          <div class="modal fade" id="modaledit{{ data['travelID'] }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Update Information</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  
                  <form action="{{ url_for('views.travelUpdate') }}" method="POST">
                    <input type="hidden" name="travelID" value="{{ data['travelID'] }}">
                    <div class="mb-3">
                      <label for="travelName" class="form-label">Name:</label>
                      <input type="text" class="form-control" name="travelName" value="{{ data['travelName'] }}">
                    </div>
                    <div class="mb-3">
                      <label for="startDate" class="form-label">Start date:</label>
                      <input type="date" class="form-control" name="startDate" value="{{ data['startDate'] }}">
                    </div>
                    <div class="mb-3">
                      <label for="endDate" class="form-label">End date:</label>
                      <input type="date" class="form-control" name="endDate" value="{{ data['endDate'] }}">
                    </div>
                    <div class="mb-3">
                      <label for="travelDescription" class="form-label">Description:</label>
                      <input type="text" class="form-control" name="travelDescription" value="{{ data['travelDescription'] }}">
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-primary">Update</button>
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                  </form>
                </div>
                
              </div>
            </div>
          </div>
          {% endfor %}
        {% else %}
          <tr><td colspan="8">No travel records found.</td></tr>
        {% endif %}
      </tbody>
    </table>
  </div>

</div>




{%endblock%}
