{% extends "base.html" %} {% block title %} Login {% endblock %} {% block
content %}
<section class="vh-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 px-0 d-none d-sm-block">
        <!-- Left side orange box elements -->
        <div
          style="
            width: 750px;
            height: 100%;
            position: absolute;
            left: 0;
            background: #ff7b00;
          "
        ></div>
        <div
          style="
            width: 415px;
            height: 152px;
            padding: 10px;
            left: 239.5px;
            top: 272px;
            position: absolute;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 10px;
            display: inline-flex;
          "
        >
          <div style="width: 410px; height: 117px; text-align: right">
            <span
              style="
                color: white;
                font-size: 50px;
                font-family: Koulen;
                font-weight: 400;
                line-height: 26.1px;
                letter-spacing: 1.65px;
                word-wrap: break-word;
              "
              >LOG In WITH<br /></span
            ><span
              style="
                color: white;
                font-size: 105px;
                font-family: Koulen;
                font-weight: 400;
                line-height: 86.55px;
                word-wrap: break-word;
              "
              >eturo</span
            >
          </div>
        </div>
        <div
          style="
            width: 343.5px;
            left: 311px;
            top: 450px;
            position: absolute;
            text-align: right;
            color: white;
            font-size: 20px;
            font-family: Inter;
            font-weight: 300;
            line-height: 19px;
            word-wrap: break-word;
          "
        >
          Is a travel guide website that will help you with your travel
          itinerary planning
        </div>
        <div
          style="
            width: 299.5px;
            left: 355px;
            top: 600px;
            position: absolute;
            text-align: right;
            color: white;
            font-size: 12px;
            font-family: Inter;
            font-weight: 400;
            line-height: 13px;
            word-wrap: break-word;
          "
        >
          Created by GARBANZOS | SENYAHAN | SISTONA<br />EST.2024
        </div>
      </div>

      <div class="col-sm-6 text-black">
        <div class="px-5 ms-xl-4">
          <i
            class="fa-regular fa-calendar-days fa-2x me-3 pt-5 mt-xl-4"
            style="color: rgb(167, 3, 3)"
          ></i>
          <span
            class="h1 fw-bold mb-0"
            style="font-family: Koulen; color: rgb(167, 3, 3)"
            >ETURO</span
          >
        </div>

        <div
          class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5"
        >
          <form style="width: 23rem" method="post">
            <h3
              class="fw-normal mb-3 pb-3"
              style="letter-spacing: 1px; font-family: Koulen"
            >
              Log in
            </h3>

            <div data-mdb-input-init class="form-outline mb-4">
              <label class="form-label" for="email" style="font-family: Inter"
                >Email address</label
              >
              <input
                type="email"
                id="email"
                class="form-control form-control-lg"
                name="email"
                placeholder="Enter Email"
              />
            </div>

            <div data-mdb-input-init class="form-outline mb-4">
              <label
                class="form-label"
                for="password"
                style="font-family: Inter"
                >Password</label
              >
              <input
                type="password"
                id="password"
                class="form-control form-control-lg"
                name="password"
                placeholder="Enter Password"
              />
            </div>
            <div class="pt-3 mb-4">
              <button
                data-mdb-button-init
                data-mdb-ripple-init
                class="btn btn-info btn-lg btn-block btn-danger"
                type="button"
                style="
                  background-color: rgba(255, 123, 0, 1);
                  color: white;
                  height: 40px;
                  font-family: 'DM Mono', monospace;
                  font-weight: 500;
                  font-size: 14px;
                  width: 100%;
                "
              >
                LOG IN
              </button>
            </div>
            <p style="font-family: Inter">
              Don't have an account?
              <a href="/signup" class="link-info">Register here</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
